table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
div #coffee {
    display: flex;
    justify-content: space-between;
}
header,
div #coffee,
section {
    background: white;
    /*font-size: x-small;*/
    padding: 5px;
}